<a href="https://colab.research.google.com/github/Sarika151999/Simple-Book-Recommendation/blob/main/book_recomm_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-11-29 15:14:58--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 172.67.70.149, 104.26.3.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  53.9MB/s    in 0.5s

2021-11-29 15:14:59 (53.9 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [4]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [5]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [6]:
num_user_ratings = df_ratings.groupby(['user']).count()
num_user_ratings.drop(columns=['isbn'], inplace=True)
num_user_ratings.head()

      rating
user
2          1
7          1
8         18
9          3
10         2

In [7]:
num_book_ratings = df_ratings.groupby(['isbn']).count()
num_book_ratings.drop(columns=['user'], inplace=True)
num_book_ratings.head()

             rating
isbn
 0330299891       2
 0375404120       2
 0586045007       1
 9022906116       2
 9032803328       1

In [8]:
users_to_omit = list(num_user_ratings.loc[num_user_ratings['rating'] < 200].index.values)
books_to_omit = list(num_book_ratings.loc[num_book_ratings['rating'] < 100].index.values)

In [9]:
# Remove books with less than 100 ratings and users with less than 200 ratings
indices_to_drop_users = list(df_ratings.loc[df_ratings['user'].isin(users_to_omit)].index.values)
indices_to_drop_books = list(df_ratings.loc[df_ratings['isbn'].isin(books_to_omit)].index.values)
indices_to_drop = list(set(indices_to_drop_users).union(set(indices_to_drop_books)))
df_ratings.drop(index=indices_to_drop, inplace=True)

indices_to_drop_df_books = list(df_books.loc[df_books['isbn'].isin(books_to_omit)].index.values)
df_books.drop(index=indices_to_drop_df_books, inplace=True)

In [10]:
# pivot ratings into matrix style
df_ratings_matrix = df_ratings.pivot(
    index='isbn',
    columns='user',
    values='rating'
).fillna(0)

# convert dataframe to scipy sparse matrix
mat_ratings_matrix = csr_matrix(df_ratings_matrix.values)

# mapping from index in sparse matrix to isbn
index_hashmap = list(df_ratings_matrix.index.values)

In [11]:
print(mat_ratings_matrix.shape)
df_ratings_matrix.head()

(731, 888)

user        254     2276    2766    2977    ...  277427  277478  277639  278418
isbn                                        ...
002542730X     0.0     0.0     0.0     0.0  ...    10.0     0.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 888 columns]

In [12]:
neighbours = NearestNeighbors(n_neighbors=6, algorithm="auto")
neighbours.fit(mat_ratings_matrix)

NearestNeighbors(n_neighbors=6)

In [13]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
  bookData = df_books.loc[df_books['title'] == book]
  if len(bookData) != 1:  # book is not in database
    return [book, ["", 0.]*5]

  isbn  = bookData.iloc[0,:]['isbn']
  index = index_hashmap.index(isbn)
  neigh_dist, neigh_ind = neighbours.kneighbors(X=mat_ratings_matrix[index, :], n_neighbors=6)

  recommended_books = [book, []]
  for ind, dist in zip(neigh_ind[0][1:], neigh_dist[0][1:]):
    isbn = index_hashmap[ind]
    title = df_books.loc[df_books['isbn'] == isbn].iloc[0, :]['title']
    recommended_books[1].append([title, dist])

  return recommended_books

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [14]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [['The Surgeon', 61.286213], ['Unspeakable', 61.522354], ['The Perks of Being a Wallflower', 61.579216], ['Gap Creek: The Story Of A Marriage', 61.676575], ['The Weight of Water', 61.75759]]]
You havn't passed yet. Keep trying!